*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 80px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;

    
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    height: 100%;
    width: 100%;
    max-width: 1100px;
   

}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
h1{
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 800;
}
h2{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 2rem;

}
p{
    font-size: 1.3rem;
    
}
img{
    height: 100%;
}

ul{
    display: flex;
    flex-direction: row;
}
li{
    margin-left: 2rem;
}
.nav-link{
    color: white;
    text-decoration: none;
    font-size: 14px;
    
    
}
.section1{
    background-color: #ffcdd2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 28rem;
    padding-top: 4rem;
    padding-bottom: 4rem;

}
.section1 .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.section1-left{
    display: flex;
    flex-direction: column;
}
.section1-links{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.main-link{
    text-decoration: none;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    border: 1px solid black;
    border-radius: 1.8rem;
    color: black;
    font-size: 14px;
    
}
.bg-black{
    background-color: black;
    color: white;
}
.caption{
    font-size: 11px;
}
.symbol{
    color: white;
    margin-left: 2rem;
}



.section2{
    background-color: #f8f8f8;
    height: 28rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.section2 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section2-button{
    width: 132px;
    padding-top: 1rem;
    padding-bottom: 1rem;

}
.download-play button{
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.section2-caption{
    max-width: 640px;
    text-align: center;
}
.section3{
    background-color: #ffff;
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: 27rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
} 
.section3 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.section3-icon{
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    list-style: none;
    

}
.spotify-image{
    width: 148px;
    padding-bottom: 1rem;
    height: 148px;
}
.section3-p1{
    font-size: 1.1rem;
    
    padding-bottom: 0.65rem;
    font-weight: 700;
    text-decoration: none;
}
.section3-p2{
    font-size: 0.8rem;
}


.section4{
    background-color: #f8f8f8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .container{
    width: 100%;
    height: 100%;
    
} */
.section4 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plan-1{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    padding: 1rem;
    display: flex;
    flex-direction: column;




}


.plan-top{
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.months{
    align-self: flex-start;
    background-color: #2D77D0;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 0.5rem;
}
h3{
    font-size: 24px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
/*  */
p{
    font-size: 1rem;
}
.TICK{
    width: 24px;
    height: 24px;
    margin-right: 0.9rem;
}
.plan-features{
    list-style: none;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.plan-features li{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.plans{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-column-gap: 0.2rem; */
    margin-top: 3rem;

}
.account{
    display:inline-block;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}
.caption{
    font-size: 0.7rem;
}
.link{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 22px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-decoration: none;
}


.section5{
    background-color: #f8f8f8;
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: 40rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.downarrow{
    height: 2rem;
}
.downtable{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.quest{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem;
}
.section5 ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section5 ul li {
    width: 1100px;
    background-color: white;
    margin-bottom: 0.3rem;
}
h3{
    font-size: 1.1rem;
    font-weight: 700;
}


footer{
    background-color: black;
    color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.container5{
    width: 100%;
    height: 100%;
    max-width: 1250px;
}
.spoti-log{
    height: 40px;
    width: 8.5rem;
    margin-right: 2rem;
}
.foot-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}

.footlist{
    width: 35rem;
    padding-top: 1.2rem;
    color: #919496;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}
.footmain{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.list{
    display: flex;
    flex-direction: column;
    
}
.footlist li{
    list-style: none;
    padding-bottom: 1rem;
    font-size: 16px;
    font-weight: 400;
    color: white
    
}
.none{
    text-decoration: none;
    color: white;
}




.logos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logos img{
    width: 4rem;
    height: 3.5rem;
    padding-right: 5px;
}

.country{
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.footend{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
}
#footlist{
    /* width: 20rem; */
    font-size: 10px;
    color: #919496;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
li{
  margin-left: 2rem;
}
.bottom{
    text-decoration: none;
    color: #919496;
    
    
}








  
